/* BODY */
body {
	background-color: #fff;
}

.container {
	/* font-family: Arial, Helvetica, sans-serif; */
	background-color: #ddd;
	margin:0 auto;
	width: 960px;
	text-align: left;
}
.hidden {
	display: none;
}

/* HEADER */
header {
	margin-top: 10px;
	margin-bottom: 10px;
}


/* TYPEOGRAPHY */ 
h1{
	padding: 10px 0px;
	font-size: 50px;
	font-weight: bold;
}
h2 {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 28px;
	font-weight: bold;
}


/* FLEXBOX */
.flexbox {
	display: flex;
	flex-wrap: wrap;
	gap: 43px;
}
.flexbox section {
	background-color: white;
	padding-bottom: 10px;
	border: 2px solid black;
}






